.debug {
    * {
        border: green dashed 0.25px;
    }
}

 @font-face {
    font-family: Arial, Helvetica, sans-serif;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.header-style {
    background-color: #222222;
    height: 55px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    padding-left: 20px;
    height: 100%;
    align-items: center;
}

.header-search {
    padding-left: 20px;
    
    input {
        height: 35px;
        width: 300px;
        background-color: #5a5a5a;
    }
    input::placeholder{
        color: #aaaaaa;
    }
}

.header-login-buttons {
    padding-right: 35px;
}

.btn {
    padding: 15px;
    background: none;
    color: antiquewhite;
}